platform: linux
image_resource:
  type: docker-image
  source:
    repository: maven
    tag: 3.3.9-jdk-8
inputs:
  - name: repo
  - name: utils
  - name: gpg
  - name: m2
outputs:
  - name: output
run:
  path: bash
  args:
  - -c
  - |
    mkdir -p ~/.gnupg && \
    utils/scripts/add-repos-in-pom-xml.sh repo && \
    utils/scripts/add-distribution-management-in-pom-xml-to-central.sh repo && \
    utils/scripts/generate-settings-xml-to-central.sh ${SONATYPE_USERNAME} ${SONATYPE_PASSWORD} repo && \
    gpg/deceypt-pgp.sh repo && \
    utils/scripts/mvn.sh "deploy -s settings.xml -DperformRelease=true -Dmaven.test.skip=true" repo