platform: linux
image_resource:
  type: docker-image
  source:
    repository: maven
    tag: 3.3.9-jdk-8
inputs:
  - name: repo
  - name: utils
outputs:
  - name: output
run:
  path: bash
  args:
  - -c
  - |
    utils/scripts/create-m2-rootfs.sh